<div id ="container" ng-controller = "todo">

    <h1 ng-show="x==1" >Grocery list<i class="fa fa-plus"></i></h1>
    <button class="button" type="button" name="button" ng-click="one()">Complete List</button>
    <button class="button" type="button" name="button" ng-click="filter();two()">Buy</button>
    <button class="button" type="button" name="button" ng-click="filter();three()">Not-Buy</button>

  <ul ng-show="x==1" ng-repeat="groc in grocery">
    <li ng-click="toggle(groc.id)"><span id="icons"><img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/512/Tick_Mark-128.png" alt="" height="20px" ng-class="{'hide':!groc.buy}"></span> <span id="items" style="position:absolute" ng-class="{'line':groc.buy}">{{groc.name}}</span></li>
  </ul>
<h1 ng-show="x==2">Already buy</h1>
  <ul ng-show="x==2" ng-repeat="b in bought">
    <li > <span id="items" style="position:absolute" >{{b.name}}</span></li>
  </ul>

  <h1 ng-show="x==3">Not buy</h1>
    <ul  ng-show="x==3" ng-repeat="b in nbought">
      <li > <span id="items" style="position:absolute" >{{b.name}}</span></li>
    </ul>




</div>



<style media="screen">
body
{

font-family: Roboto;
margin: 0px;
padding: 0px;
background: linear-gradient(to left, #000000, #53346d);

}

.fa-plus

{

float: right;

}
.important
{

color: grey;
text-decoration: line-through;

}

#container
{

background-color: #f7f7f7;
width: 360px;
margin: 100px auto;
box-shadow: 0,0,3px,rgb(0,0,0,0.1);


}

#icons {
background: lightgrey;
height: 40px;
margin-right: 20px;
text-align: center;
color: white;
width: 40px;
display: inline-block;

opacity: 1;
position: relative;

}

.fa-trash
{

position: relative;
top: 10px;

}


.button {
  display: inline-block;
  padding: 15px 25px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


h1
{

color: white;
text-align: center;
font-family: 'Kaushan Script', cursive;
background-color: #010158;
font-weight: normal;
font-size: 24px;
margin: 0px;
padding: 10px ;
}
ul
{

padding: 0px;
margin: 0px;
list-style: none;



}

input:focus
{

outline: none;
}

li
{

height: 40px;
color: #666;
line-height: 40px;


}

li:nth-child(2n)
{

background-color: white;

}

input[type='text']

{

width: 100%;
padding: 10px;
border: 3px solid rgba(0,0,0,0);


}

.hide{

display: none;

}
.line{

text-decoration: line-through;

}


</style>
